<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css "
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-top-nav container">
        <div class="header-top">
          <img src="/images/logo-mercado-liebre.svg" class="logo" alt="" />
          <div class="header-search container">
            <form action=""><input type="text" class="input-text" /></form>
            <i class="fas fa-search"></i>
          </div>
        </div>

        <div class="header-msg">
          <h4>
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
            tarjeta de crédito
          </h4>
        </div>
      </div>

      <div class="header-bottom-nav container">
        <nav class="nav">
          <a href="/">Ofertas</a>
          <a href="/">Tiendas Oficiales</a>
          <a href="/">Vender</a>
          <a href="/">Ayuda</a>
        </nav>
        <nav class="nav">
          <a href="/register.html"
            >Creá tu cuenta <i class="fas fa-id-card"></i
          ></a>
          <a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          <a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a>
        </nav>
      </div>

      <div class="burger-menu container">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>

    <main class="container">
      <section>
        <h2 class="grey">Basado en tu última visita</h2>
        <div class="article-list">
          <article class="article-box">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$6.770</h3>
                <h4 class="green">40% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">Cafetera Moulinex</h4>
            </div>
          </article>
          <article class="article-box">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$230.000</h3>
                <h4 class="green">20% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">MacBook Pro 2019</h4>
            </div>
          </article>
          <article class="article-box">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$70.500</h3>
                <h4 class="green">0% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">
                Samsung Galaxy S10
              </h4>
            </div>
          </article>
          <article class="article-box">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$23.200</h3>
                <h4 class="green">5% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">
                SmartTv Samsung 43"
              </h4>
            </div>
          </article>
        </div>
      </section>

      <section>
        <h2 class="grey">Ofertas</h2>
        <div class="article-list">
          <article class="article-box">
            <img
              src="/images/img-cafetera-moulinex.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$6.770</h3>
                <h4 class="green">40% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">Cafetera Moulinex</h4>
            </div>
          </article>
          <article class="article-box">
            <img
              src="/images/img-macbook-pro-2019.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$230.000</h3>
                <h4 class="green">20% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">MacBook Pro 2019</h4>
            </div>
          </article>
          <article class="article-box">
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$70.500</h3>
                <h4 class="green">0% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">
                Samsung Galaxy S10
              </h4>
            </div>
          </article>
          <article class="article-box">
            <img
              src="/images/img-tv-samsung-smart.jpg"
              class="article-img-box"
              alt=""
            />
            <div class="article-description-box">
              <div class="truck-container">
                <i class="fas fa-truck green"></i>
              </div>
              <div class="article-description-price-off">
                <h3>$23.200</h3>
                <h4 class="green">5% OFF</h4>
              </div>
              <h4 class="grey article-description-hidden">
                SmartTv Samsung 43"
              </h4>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <section class="contenedor-footer">
        <div class="div-footer">
          <div>
            <i class="fas fa-credit-card logos"></i>
          </div>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="div-footer">
          <div>
            <i class="fas fa-gift logos"></i>
          </div>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="div-footer">
          <div>
            <i class="fas fa-user-shield logos"></i>
          </div>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </section>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
